body {
   background-color: red;
}



.h1c {
    font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
    text-align: center;
    color: white;
}

.pc {
    font-family: 'Dancing Script', cursive;
	font-size: 35px;
	margin-bottom: 30px;
    text-align: center;
    color: white;
}

.pagebar {
    text-align: center;
    border: 1px solid coral;
}

.updateLogTitle {
    text-align: left;
    font-family: 'Dancing Script', cursive;
	font-size: 40px;
	margin-bottom: 30px;
}

.updateLogDescription {
    text-align: left;
    font-family: 'Dancing Script', cursive;
	font-size: 20px;
    margin-bottom: 30px;

}
